<!DOCTYPE html>
<html lang="en">
<!--page 2: 로딩 페이지, 문제 출제 완료 시 이동 버튼 활성화하여 questions.html 페이지로 연결 -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>{{ filename }}에 대한 문제 출제중입니다.</p>
    <table>
        {% for key, value in result.items() %}
           <tr>
              <th> {{ key }} </th>
              <td> {{ value }} </td>
           </tr>
        {% endfor %}
   </table>
   <form action="/loading" method="post" enctype="multipart/form-data">
      <input type="hidden" name="filename" value="{{filename}}">
      <input type = "hidden" name = "start_page" value="{{start_page}}"/>
      <input type = "hidden" name = "end_page" value="{{end_page}}"/>
      <input type = "hidden" name = "num_of_questions" value="{{num_of_questions}}"/>
      <input type="submit" value="문제 제작하기">
   </form>

</body>
</html>